.hamburger {
    background: transparent;
    color: white;
    border: unset;
  }
  
  .hamburger:focus {
    outline: unset;
  }
  
  .menu-btn__burger {
    width: 30px;
    height: 3px;
    background: #fff;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #fff;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn__burger::before {
    transform: translateY(-10px);
  }
  .menu-btn__burger::after {
    transform: translateY(10px);
  }
  
  /* animation hamburger */
  .hamburger.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
  }
  
  .hamburger.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .hamburger.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
    .card:nth-child(3) {
    background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.6) 100%
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%),
    url('./images/desktop/image-soccer-team.jpg');
    }